# Binaries
/bin/
/dist/
*.exe
*.dll
*.so
*.dylib

# Mac OS
.DS_Store

# Go
vendor/
go.work
third_party/

# IDEs
.vscode/
.idea/
*.iml

# Models
models/
*.bin
*.gguf

# Environment variables
.env
.env.local

# Logs
*.log
/sussurro
/release